html, body, div, article, ul, h1, h2 {
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.tab-header {
  background: lightblue;
  border-bottom: 1px solid darkblue;
}

.tab {
  color: black;
  float: left;
  padding: 10px;
}

.tab:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

article {
  padding: 10px;
  clear: both;
}
