html, body, div, article, ul, h1, h2 {
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.tab-header {
  background: lightblue;
  border-bottom: 1px solid darkblue;
}

.tab {
  color: black;
  float: left;
  padding: 10px;
}

.tab:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

article {
  padding: 10px;
  clear: both;
}

.weather-box {
  background-image: url(http://spaceplace.nasa.gov/templates/featured/sun/sunburn300.png);
  border: 1px solid darkblue;
  width: 300px;
  height: 300px;
  color: white;
  font-size: 12px;
  margin-left: 10px;
}

.weather-box p {
  float: left;
  margin-left: 10px;
}

.search-box {
  margin-left: 10px;
  border: 1px solid darkblue;
  background: lightblue;
  padding: 3px;
  width: 300px;
  text-align: center;
  font-size: 20px;
}

.search-matches {
  list-style: none;
  margin-left: 5px;
  font-size: 32px;
}

.search-hit:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-box input {
  height: 30px;
  width: auto;
  font-size: 20px;
}
